@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #0a0a0a;
}

* {
  box-sizing: border-box;
}
